body{
    /* background-color: #61677A; */
    height: 100vh;
    width: 100vw;
    margin: 0;
}
#container{
/* background-color: aqua; */
height: 100%;
width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 100px 1fr;

}
.header{
    grid-area: 1/1/2/3;
    background-color: #61677A;
    /* border-radius: 10px; */
}
.task-list{
    height: 100vh;
    background-color: #D8D9DA;
}
.todo-list{
    background-color: #D8D9DA;
    border-radius: 10px;
    margin: 10px;
}